body {
    font-family: 'Arima Madurai';
    --main-color: rgb(43, 52, 81);
    --secondary-color: rgb(27, 119, 48);
    --background-color: rgb(51, 52, 110);
}

p {
    text-align: justify;
}

h2, strong {
    color: var(--main-color);
}

.flash {
    margin: 1em 0;
}

.alert-danger, .alert-success, .alert-warning {
    padding: 1em;
}

.hidden {
    display: none;
}

@font-face {
    font-family: 'handwriting';
    src: url('../fonts/cursive-standard.ttf');
}