body {
    font-family: 'Arima Madurai';
    --main-color: rgb(43, 52, 81);
    --background-color: rgb(51, 52, 110);
}

p {
    text-align: justify;
}

h2, strong {
    color: var(--main-color);
}

@font-face {
    font-family: 'handwriting';
    src: url('../fonts/cursive-standard.ttf');
}