.footer {
    background-color: var(--background-color);
    color: whitesmoke;
    font-family: 'Caveat';
    font-size: 1em;
}

.footer a {
    color: whitesmoke;
}

.footer-item-title {
    margin-top: 1em;
    font-size: 1.25em;
    font-family: 'Arima Madurai';
}

.footer-item {
    font-size: 1.1em;
}

.footer-muted {
    font-size: 1em;
}

.footer-facebook-link {
    display: block;
    background-image: url("/assets/images/svg/facebook_footer.svg");
    width: 100px;
    height: 100px;
    background-size: contain;
    margin: auto;
}

.footer-bye {
    margin-top: 1em;
    font-size: 2em;
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer-bye img {
    height: 75px;
}