.hero {
    display: grid;
    justify-content: center;
    margin-bottom: 5em;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    grid-gap: 10px;
    justify-content: center;
}

.home-link-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    margin-bottom: 5em;
}

.home-link {
    font-family: 'Arima Madurai';
    display: block;
    flex-direction: column;
    color: rgb(43, 52, 81);
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
}

.home-link-image {
    width: 150px;
    height: 150px;
}

.home-logo {
    margin: 2em auto;
}

.home-title, .home-subtitle {
    color: rgb(43, 52, 81);
    text-align: center;
}

.home-title {
    font-family: 'handwriting';
    font-size: 3.5em;
}

.home-subtitle {
    font-family: 'Caveat';
    font-size: 2.5em;
    text-shadow: 2px 2px silver;
}
