.hero {
    display: grid;
    justify-content: center;
    margin-bottom: 5em;
}

.home-logo {
    margin: 2em auto;
}

.home-title, .home-subtitle {
    color: rgb(43, 52, 81);
    text-align: center;
}

.home-title {
    font-family: 'handwriting';
    font-size: 3.5em;
}

.home-subtitle {
    font-family: 'Caveat';
    font-size: 2.5em;
    text-shadow: 2px 2px silver;
}

/* team */

.home-team-title {
    font-family: "Arima Madurai";
    text-align: center;
    color: var(--main-color);
}

.home-team-wrapper {
    margin-bottom: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: var(--main-color);
}

.home-team-member {
    color: var(--main-color);
    margin: 20px;
}

.home-team-member-picture {
    position: relative;
    height: 300px;
}

.home-team-member-picture-background {
    width: 300px;
    height: 300px;
}

.home-team-member-picture-foreground {
    filter: grayscale(100%);
    position: absolute;
    border-radius: 50%;
    top: 10px;
    left: 40px;
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: 250px;
    background-repeat: no-repeat;
}

.home-team-member-meta {
    text-align: center;
}

.home-team-member-name {
    font-family: "Arima Madurai";
    font-weight: bold;
    font-size: 2em;
}

.home-team-member-job-title {
    font-family: "Caveat";
    font-size: 1.5em;
}
