.article-post p {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.article-post a {
    width: 300px;
    padding: 20px;
}

.article-post img {
    border-radius: 5px;
}

.article-post h2 {
    padding: 40px 0;
}

@media all and (max-width: 950px) {
    .article-post p {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 600px) {
    .article-post p {
        grid-template-columns: 1fr;
    }
}