<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{{ site.baseurl }}/{{ site.logo }}">

    <title>{{ page.title }} | {{site.name}}</title>

    {% seo %}

    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap" rel="stylesheet">

    <link href="{{ site.baseurl }}/assets/css/prism.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/common.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/navbar.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/footer.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/big-button.css" rel="stylesheet">

    {% if page.url == '/' %}
        <link href="{{ site.baseurl }}/assets/css/home.css" rel="stylesheet">
    {% endif %}

    {% if page.url == '/school-registration/pre-registration-form' %}
        <link href="{{ site.baseurl }}/assets/css/registration.css" rel="stylesheet">
    {% endif %}

    {% if page.url == '/team' %}
        <link href="{{ site.baseurl }}/assets/css/team.css" rel="stylesheet">
    {% endif %}

    {% if page.url == '/contribute' %}
        <link href="{{ site.baseurl }}/assets/css/contribute.css" rel="stylesheet">
    {% endif %}

    {% if page.url == '/reservation' %}
        <link href="{{ site.baseurl }}/assets/css/calendar.css" rel="stylesheet">
    {% endif %}

    {% if page.slideshow == 'page' %}
        <link href="{{ site.baseurl }}/assets/css/slideshow.css" rel="stylesheet">
    {% endif %}

    <!-- Leaflet map -->
    {% if page.map == true %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""
        />
    {% endif %}

    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
</head>

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body>
	<!-- defer loading of font and font awesome -->
	<noscript id="deferred-styles">
		<link href="https://fonts.googleapis.com/css?family=Sen:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	</noscript>

    <!-- Donate Ribbon -->
    <div class="donate-ribbon">
        <a href="https://www.helloasso.com/associations/ecole-montessori-arc-en-ciel/collectes/mecenat-particulier">Faire un don</a>
    </div>

    <!-- Begin Sidebar Navigation
    ================================================== -->

    <div class="sidebar">
    </div>
    <div class="nav-icon">
        <div class="hamburger-bar"></div>
    </div>
    <div id="blackover-nav" class="blackover"></div>
    <nav id="menu">
        <ul>
            <h3>Navigation</h3>
            <li><a href="{{ site.baseurl }}/">Accueil</a></li>
            <li><a href="{{ site.baseurl }}/about">Présentation</a></li>
            <li><a href="{{ site.baseurl }}/school-registration">Rejoindre l'école</a></li>
            <li><a href="{{ site.baseurl }}/events">Événements</a></li>
            <li><a href="{{ site.baseurl }}/contribute">Nous soutenir</a></li>
            <li><a href="{{ site.baseurl }}/contact">Nous contacter</a></li>
        </ul>
    </nav>

    <!-- disabling search system: {% include search-lunr.html %} -->

    <!-- End Sidebar Navigation
    ================================================== -->

    <div class="site-content {% if page.url == '/' %} firstpage {% endif %}">

    <div class="container">

        <!-- Site Logo/Name
        ================================================== -->
        {% if page.hide_logo != true %}
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
            </a>
        {% endif %}

        <!-- Site Tag
        ================================================== -->
        {% if page.url == '/' and page.show_site_tag == true %}
            <p class="sitetag">
                {{ site.description }}
            </p>
        {% endif %}

        <!-- Content
        ================================================== -->
        <div class="main-content">
            {{ content }}
        </div>
    </div>

    <!-- Begin Footer
    ================================================== -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 text-center text-lg-left">
                    <div class="footer-item-title">Nous contacter</div>
                    <a class="footer-item" href="mailto:montessori.violay@gmail.com"><i class="far fa-envelope"></i> {{ site.email }}</a><br>
                    <a class="footer-item" href="tel:{{ site.phone.landlineLink }}"><i class="fas fa-phone"></i> {{ site.phone.landline }}</a><br>
                    <a class="footer-item" href="tel:{{ site.phone.mobileLink }}"><i class="fas fa-mobile-alt"></i> {{ site.phone.mobile }}</a>
                </div>
                <div class="col-md-4 col-sm-12 text-center">
                    <div class="footer-item-title">Nous suivre</div>
                    <a class="footer-item footer-facebook-link" href="https://www.facebook.com/EcoleMontessoriViolay/"></a>
                </div>
                <div class="col-md-4 col-sm-12 text-center text-lg-right">
                    <div class="footer-item-title">Nous trouver</div>
                    <a class="footer-item" href="{{ site.location_map }}"><i class="fas fa-map-marker-alt"></i> {{ site.address }}</a>
                    <figure class="footer-bye">
                        <div>A bientôt !</div>
                        <img src="/assets/images/svg/nuage_soleil_footer.svg" alt="sun">
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 footer-muted text-lg-left">Copyright © {{ site.time | date: "%Y" }} {{ site.name }}</div>
                <div class="col-md-6 col-sm-12 footer-muted text-lg-right">
                    <a target="_blank" href="https://www.wowthemes.net/memoirs-free-jekyll-theme/">from memoirs theme</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer
    ================================================== -->

    </div> <!-- /.site-content -->

    <!-- Scripts (if you need bootstrap.js, please add it yourself. I didn't use it for performance reasons, it was not needed in this theme)
    ================================================== -->

    <script src="{{ site.baseurl }}/assets/js/prism.js"></script>

    <script src="{{ site.baseurl }}/assets/js/theme.js"></script>

    {% if site.lazyimages == "enabled" %}
        <script src="{{ site.baseurl }}/assets/js/lazyload.js"></script>
    {% endif %}

    <!-- Custom scripts -->
    <script src="{{ site.baseurl }}/assets/js/common/flash.js"></script>
    <script src="{{ site.baseurl }}/assets/js/common/try.js"></script>

</body>
</html>
