---
layout: default
---

<div class="hero">
    <img class="home-logo" src="/assets/images/svg/logo_main_arc-en-ciel_.svg" alt="Bienvenue">
    <h1 class="home-title">Bienvenue</h1>
    <h2 class="home-subtitle">Ecole Montessori Arc-en-ciel</h2>
</div>

<!-- Featured Image -->
{% include featured-image.html %}

<!-- Links -->
<div class="big-button-wrapper">
    <a class="big-button" href="{{ site.baseurl }}/about">
        <img class="big-button-image" src="{{ site.button_images[0] }}" alt="">
        <div>Présentation</div>
    </a>
    <a class="big-button" href="{{ site.baseurl }}/school-registration">
        <img class="big-button-image" src="{{ site.button_images[1] }}" alt="">
        <div>Rejoindre l'école</div>
    </a>
    <a class="big-button" href="{{ site.baseurl }}/events">
        <img class="big-button-image" src="{{ site.button_images[2] }}" alt="">
        <div>Événements</div>
    </a>
    <a class="big-button" href="{{ site.baseurl }}/contribute">
        <img class="big-button-image" src="{{ site.button_images[3] }}" alt="">
        <div>Nous soutenir</div>
    </a>
    <a class="big-button" href="{{ site.baseurl }}/contact">
        <img class="big-button-image" src="{{ site.button_images[4] }}" alt="">
        <div>Nous contacter</div>
    </a>
</div>

<!-- Team -->
<h3 class="home-team-title">Equipe éducative</h3>
<div class="home-team-wrapper">
    {% for team_member in site.educational_team_members %}
        <div class="home-team-member">
            <div class="home-team-member-picture">
                <img class="home-team-member-picture-background" src="{{ site.button_images[forloop.index] }}" alt="">
                <div class="home-team-member-picture-foreground" style="background-image: url({{ team_member.picture }});"></div>
            </div>
            <div class="home-team-member-meta">
                <div class="home-team-member-name">{{ team_member.name }}</div>
                <div class="home-team-member-job-title">{{ team_member.job_title }}</div>
            </div>
        </div>
    {% endfor %}
</div>

<!-- Content -->
{% include article.html %}