---
layout: default
---

<div class="hero">
    <img class="home-logo" src="{{ site.baseurl }}/assets/images/svg/logo_main_arc-en-ciel_.svg" alt="Bienvenue">
    <h1 class="home-title">Bienvenue</h1>
    <h2 class="home-subtitle">Ecole Montessori Arc-en-ciel</h2>
</div>

<!-- Featured Image -->
{% include featured-image.html %}

<!-- Button links -->
{% include big-buttons.html %}

<!-- Team -->
<h3 class="home-team-title">Equipe éducative</h3>
<div class="home-team-wrapper">
    {% for team_member in site.educational_team_members %}
        <a href="/team#team-member-{{ forloop.index0 }}" class="home-team-member">
            <div class="home-team-member-picture">
                <img class="home-team-member-picture-background" src="{{ site.button_images[forloop.index0] }}" alt="">
                <div class="home-team-member-picture-foreground" style="background-image: url({{ team_member.picture }});{{ team_member.style }}"></div>
            </div>
            <div class="home-team-member-meta">
                <div class="home-team-member-name">{{ team_member.name }}</div>
                <div class="home-team-member-job-title">{{ team_member.job_title }}</div>
            </div>
        </a>
    {% endfor %}
</div>

<!-- Content -->
{% include article.html %}