---
layout: default
---

<div class="page-single">
    <div class="entry-header">       
        <h1 class="posttitle">{{ page.title }}</h1>        
    </div>
</div>

{%- for month in page.months -%}
    <div class="calendar-month" year="{{ page.year }}" month="{{ month }}" closed-dates="{% for date in page.closed_dates %}{{ date }} {% endfor %}"></div>
{%- endfor -%}

<script src="/assets/js/calendar/calendar.js"></script>
<script>
    const getClosedDates = (closedDatesAttribute) => closedDatesAttribute.split(' ')
        .map((date) => parseInt(date))
        .filter((date) => Number.isInteger(date));

    const calendarElements = document.querySelectorAll('.calendar-month');
    
    calendarElements.forEach((calendarElement) => {
        let selectedDates = [];
        let options = {
            calendarElement,
            selectedDates,
            closedDates: getClosedDates(calendarElement.getAttribute('closed-dates')),
            year: calendarElement.getAttribute('year'),
            month: calendarElement.getAttribute('month') - 1,
        };
        
        createMonthCalendar(options);
    })
</script>