---
layout: default
---

<div class="page-single">
    <div class="entry-header">       
        <h1 class="posttitle">{{ page.title }}</h1>        
    </div>
</div>

<!-- Display monthly calendar -->
<form action="#" id="calendar">
    {%- for month in page.months -%}
        <div class="calendar-month" month="{{ month }}"></div>
    {%- endfor -%}
</form>

{% for date in page.closed_dates %}
    <div class="closed-date" style="display: none;">{{ date }}</div>
{% endfor %}

<script src="/assets/js/calendar/calendar.js"></script>
<script>
    const closedDates = [...document.querySelectorAll('.closed-date')].map(closedDateElement => new Date(closedDateElement.textContent));
    const calendarElements = document.querySelectorAll('.calendar-month');
    
    calendarElements.forEach((calendarElement) => {
        let monthParts = calendarElement.getAttribute('month').split('-');
        let options = {
            calendarElement,
            closedDates,
            year: monthParts[0],
            month: monthParts[1] - 1,
        };
        
        createMonthCalendar(options);
    })
</script>